 <ion-header>
  <ion-toolbar>
    <ion-title>Encuentros</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <div *ngFor="let path of cPaths">
    <app-publi
     [pathToImg]="path"
      tipo= "Encotnrado"
       [direccion]="direccion" 
        [fecha]="fecha"
         [descripcion]="Descripcion"
         >
    </app-publi>

  </div>

<!-- 
  <div>
    <app-publi
    [pathToImg]="path"
    tipo= "Encotnrado"
    [direccion]="direccion" 
    [fecha]="fecha"
    [descripcion]="Descripcion" >
    </app-publi>

    <ion-button (onClick)="avanzar()" fill="outline" shape="round"> 
      <ion-icon name="arrow-redo-outline"></ion-icon>
    </ion-button>

  </div> -->

 <!-- <app-desarrollando></app-desarrollando>  -->
</ion-content>




