<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenide!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
  

  <ion-card>
    <div>
      <ion-button routerLink="/tabs/busquedas" fill="outline" shape="round">Busquedas</ion-button>
    </div>
    <div>
      <ion-button routerLink="/tabs/busquedas" fill="outline" shape="round">Mis Encuentros</ion-button>
    </div>
    <div>
      <ion-button routerLink="/desarrollando..." fill="outline" shape="round">Mis publicaciones</ion-button>
    </div>
  </ion-card>
</ion-content>